<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">

<mat-tab-group mat-stretch-tabs class="tabbedBar" [ngStyle]="{textAlign: 'center'}">
    <mat-tab>
        <ng-template mat-tab-label [ngStyle]="{'background-color': 'rgb(67, 27, 0)'}">Feed</ng-template>
        <h1>I am where you can see other user's posts!</h1> 
    </mat-tab>
    <mat-tab label="Recipe Card Box">
        <h1>I am where you can see the posts that you have saved!</h1>
    </mat-tab>
    <mat-tab label="Recipe Book">
        <h1>I am where you can see your profile, bio, and all of your posts</h1>
    </mat-tab>
</mat-tab-group>
