<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">

<mat-drawer-container class="sideBarContainer">
    <mat-drawer mode="side" opened>
        <br>
        <app-logo></app-logo>
        <br>
        <mat-card>
            I am inside a card!
            This is where a trending recipe will go after it is fetched from a website via the usage of an API.
        </mat-card>
        <br>
        <form>
            <input placeholder="search for recipes...">    
            <button type="submit"><i class="ri-search-line"></i></button>
        </form>

        <br>

        <app-footer></app-footer>
    </mat-drawer>
    
    <app-navbar></app-navbar>

</mat-drawer-container>