<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">

<h4>Sign Up</h4>

<form action="#" id="signupForm">
    <label>Username: </label><input type="text" name="username" required placeholder="enter your username...">
    <br><br>
    <label>E-Mail: </label><input type="email" name="email" required placeholder="enter your email...">
    <br><br>
    <label>Phone #: </label><input type="text" name="phoneNumber" required placeholder="enter your phone #...">
    <br><br>
    <label>Password: </label><input type="password" name="password" required placeholder="enter your password..."><button class="viewInputtedPw"><i class="ri-eye-line"></i></button>
    <br><br>
    <label>Confirm Password: </label><input type="password" name="confirmPassword" required placeholder="enter your password again to confirm..."><button class="viewInputtedPw"><i class="ri-eye-line"></i></button>
    <br><br>
    <button type="submit" class="submitSignup">Sign Up</button>
</form>